<?xml version="1.0"?>
<config>
    <modules>
        <TTS_ShippingCity>
            <version>0.1.0</version>
        </TTS_ShippingCity>
    </modules>
    <global>
        <models>
            <shippingcity>
                <class>TTS_ShippingCity_Model</class>
                <resourceModel>shippingcity_resource</resourceModel>
            </shippingcity>
            <shippingcity_resource>
                <class>TTS_ShippingCity_Model_Resource</class>
                <entities>
                    <city>
                        <table>directory_country_region_city</table>
                    </city>
                </entities>
            </shippingcity_resource>
            <adminhtml>
                <rewrite>
                    <customer_renderer_region>TTS_ShippingCity_Model_Adminhtml_Customer_Renderer_Region</customer_renderer_region>
                </rewrite>
            </adminhtml>
        </models>
        <resources>
            <shippingcity_setup>
                <setup>
                    <module>TTS_ShippingCity</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </shippingcity_setup>
        </resources>
        <blocks>
            <shippingcity>
                <class>TTS_ShippingCity_Block</class>
            </shippingcity>
        </blocks>
        <helpers>
            <shippingcity>
                <class>TTS_ShippingCity_Helper</class>
            </shippingcity>
        </helpers>
        <events>
            <sales_order_address_save_before>
                <observers>
                    <convert_city_id>
                        <type>singleton</type>
                        <class>shippingcity/observer</class>
                        <method>convertCityId</method>
                    </convert_city_id>
                </observers>
            </sales_order_address_save_before>
            <customer_address_format>
                <observers>
                    <convert_city_id>
                        <type>singleton</type>
                        <class>shippingcity/observer</class>
                        <method>convertCityId</method>
                    </convert_city_id>
                </observers>
            </customer_address_format>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <tts_shippingcity>
                    <file>tts/shippingcity.xml</file>
                </tts_shippingcity>
            </updates>
        </layout>
        <routers>
            <shippingcity>
                <use>standard</use>
                <args>
                    <module>TTS_ShippingCity</module>
                    <frontName>shippingcity</frontName>
                </args>
            </shippingcity>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <TTS_ShippingCity before="Mage_Adminhtml">TTS_ShippingCity_Adminhtml</TTS_ShippingCity>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <tts_shippingcity>
                    <file>tts/shippingcity.xml</file>
                </tts_shippingcity>
            </updates>
        </layout>
    </adminhtml>
</config> 