<?xml version="1.0"?>
<config>
  <modules>
    <Alice_Packingslips>
      <version>0.1.0</version>
    </Alice_Packingslips>
  </modules>
  <admin>
      <routers>
          <adminhtml>
              <args>
                  <modules>
                      <packingslips before="Mage_Adminhtml">Alice_Packingslips</packingslips>
                  </modules>
              </args>
          </adminhtml>
      </routers>
  </admin>
  <adminhtml>
    <layout>
        <updates>
            <alice_packingslips>
                <file>alice/extendedgrid.xml</file>
            </alice_packingslips>
        </updates>
    </layout>
  </adminhtml>
<!--   <adminhtml>
    <events>
        <sales_order_grid_collection_load_before>
            <observers>
                <alice_packingslips>
                    <model>alice_packingslips/observer</model>
                    <method>test</method>
                </alice_packingslips>
            </observers>
        </sales_order_grid_collection_load_before>
    </events>
  </adminhtml> -->
  <global>
    <helpers>
      <packingslips>
        <class>Alice_Packingslips_Helper</class>
      </packingslips>
    </helpers>
    <blocks>
      <packingslips>
      <class>Alice_Packingslips_Block</class>
      </packingslips>
        <adminhtml>
          <rewrite>
            <sales_order_grid>Alice_Packingslips_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
          </rewrite>
        </adminhtml>
    </blocks>
    <models>
    <packingslips>
    <class>Alice_Packingslips_Model</class>
    <resourceModel>packingslips_mysql4</resourceModel>
    </packingslips>
      <sales>
        <rewrite>
          <order_shipment>Alice_Packingslips_Model_Sales_Order_Shipment</order_shipment>
        </rewrite>
      </sales>
      <sales>
        <rewrite>
          <order_pdf_shipment>Alice_Packingslips_Model_Sales_Order_Pdf_Shipment</order_pdf_shipment>
        </rewrite>
      </sales>
    </models>
    <resources>
      <packingslips_setup>
          <setup>
              <module>Alice_Packingslips</module>
          </setup>
          <connection>
              <use>core_setup</use>
          </connection>
      </packingslips_setup>
      <packingslips_write>
          <connection>
              <use>core_write</use>
          </connection>
      </packingslips_write>
      <packingslips_read>
          <connection>
              <use>core_read</use>
          </connection>
      </packingslips_read>
    </resources>
    <events>
      <checkout_submit_all_after>
        <observers>
          <alice>
              <type>model</type>
              <class>Alice_Packingslips_Model_Observer</class>
              <method>saveExchangeOrder</method>
          </alice>
        </observers>
      </checkout_submit_all_after>
      <sales_order_grid_collection_load_before>
            <observers>
                <alice_packingslips>
                    <type>model</type>
                    <class>Alice_Packingslips_Model_Order_Observer</class>
                    <method>salesOrderGridCollectionLoadBefore</method>
                </alice_packingslips>
            </observers>
      </sales_order_grid_collection_load_before>
    </events>
  </global>
</config> 