<?xml version="1.0"?>
<config>
  <abtesting>
    <Ebs_Abtesting>
      <version>0.1.0</version>
    </Ebs_Abtesting>
  </abtesting>
  <global>
    <helpers>
      <abtesting>
        <class>Ebs_Abtesting_Helper</class>
      </abtesting>
    </helpers>
    <models>
        <abtesting>
            <class>Ebs_Abtesting_Model</class>
        </abtesting>
    </models>
    <events>
        <adminhtml_cms_page_edit_tab_content_prepare_form>
            <observers>
                <abtesting_page_edit_tab_content>
                    <type>singleton</type>
                    <class>Ebs_Abtesting_Model_Observer</class>
                    <method>abtestingField</method>
                </abtesting_page_edit_tab_content>
            </observers>
        </adminhtml_cms_page_edit_tab_content_prepare_form>
        <core_block_abstract_to_html_after>
            <observers>
                <core_block_abstract_to_html_after_abtesting>
                    <type>singleton</type>
                    <class>Ebs_Abtesting_Model_Observer</class>
                    <method>googleCodeToHtmlAfter</method>
                </core_block_abstract_to_html_after_abtesting>
            </observers>
        </core_block_abstract_to_html_after>
    </events>
	<resources>
	  <abtesting_setup>
		<setup>
		  <module>Ebs_Abtesting</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </abtesting_setup>
	  <abtesting_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </abtesting_write>
	  <abtesting_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </abtesting_read>
	</resources>
  </global>
</config> 